@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default global styles */
html button, html input {
    border: 1px solid grey;
    border-radius: .2rem;
    padding: .2rem;
    padding-left: .3rem;
    padding-right: .3rem;
}
li {
    padding-left: .5rem;
    display: flex;
    align-items: center;
}
li::before {
    content: "-";
    margin-right: .5rem;
}
.button-checkbox {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    font-size: .5rem;
    text-align: center;
}
